<li class="card" [ngClass]="{ 'list-group-item': post.loveIts == 0,
									'list-group-item-success': post.loveIts > 0,
									'list-group-item-danger': post.loveIts < 0}">
	<div class="card-body">
		<div class="card-title d-flex align-items-center justify-content-between">
			<h2>{{ post.title }}</h2>
			<h6 class="text-muted font-italic">{{ post.created_at | date: 'dd/MM/yyyy, hh:mm a' }}</h6>
		</div>

		<p class="card-text">{{ post.content }}</p>
		<div class="d-flex justify-content-between">
			<div>
				<a (click)="onLove()" class="btn btn-success">Love it</a>
				<a (click)="onDontLove()" class="btn btn-danger ml-1">Don't love it</a>
			</div>
				<a (click)="onDelete()" class="btn btn-danger ml-1">Supprimer</a>
		</div>

	</div>
</li>
